<a href="https://colab.research.google.com/github/eewonz/ml4ai/blob/main/ch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
import sys
os.listdir()

In [ ]:
cd drive

In [ ]:
os.listdir()

In [ ]:
cd MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/

In [ ]:
cd ch_02

In [ ]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [ ]:
import numpy as np

data= np.genfromtxt(
    'data/example_data.csv', delimiter=';',
    names=True, dtype=None, encoding='UTF'
)
data

In [ ]:
data.shape

In [ ]:
data.dtype

In [ ]:
[i*2 for i in range(3)]

In [ ]:
[row[3] for row in data]

In [ ]:
max([row[3] for row in data])

In [ ]:
%%timeit
max([row[3] for row in data])

In [ ]:
data.dtype.names

In [ ]:
for i, col in enumerate(data.dtype.names):
  print(i,col)

In [ ]:
[row[0] for row in data]

In [ ]:
array_dict={
    col:np.array([[row[i]] for row in data])
    for i, col in enumerate(data.dtype.names)
}
array_dict

In [ ]:
array_dict['mag']

In [ ]:
%%timeit
array_dict['mag'].max()

In [ ]:
for key, value in array_dict.items():
  print(key,value)

In [ ]:
array_dict['mag'].argmax()

In [ ]:
np.array([
    value[array_dict['mag'].argmax()]
    for key,value in array_dict.items()
])

In [ ]:
import pandas as pd
place = pd.Series(array_dict['place'], name='place')
place

In [ ]:
import pandas as pd

# Check the data in array_dict['place']
print(array_dict['place'])

# Assuming array_dict['place'] is a one-dimensional list, you can create a Series like this:
place = pd.Series(array_dict['place'], name='place')
print(place)

##Series

In [ ]:
array_dict['place']

In [ ]:
import pandas as pd
from pandas import Series;  from numpy.random import randn
place=pd.Series(array_dict['place'], name='place')
place

In [ ]:
place.values
place.name
place.dtype
place.shape

##Index

In [ ]:
place_index=place.index
place_index

In [ ]:
place_index.values

In [ ]:
place_index.dtype

In [ ]:
place_index.is_unique

In [ ]:
np.array([1,1,1])+np.array([-1,0,1])

In [ ]:
numbers=np.linspace(0,10,num=5)
x=pd.Series(numbers)
y=pd.Series(numbers, index=pd.index([1,2,3,4,5]))
x+y

##Dataframe

In [ ]:
array_dict

In [ ]:
df=pd.DataFrame(array_dict)

In [ ]:
df.dtype
df.values
df.columns
df.index
df.shape
df+df

##practice

In [ ]:
import pandas as pd

In [ ]:
team_data={
    'name':['Haram','Minji','Donghyun','Wonjune'],
    'Hobby':['Game','running','soccer','baseball'],
    'nationality':['korea','korea','korea','korea']
}

In [ ]:
team_df=pd.DataFrame(team_data)

In [ ]:
team_df.to_csv('team_members.csv',index=False)

In [ ]:
loaded_team_df=pd.read_csv('team_members.csv')

In [ ]:
print(loaded_team_df.head())

In [ ]:
print(loaded_team_df.describe())

In [ ]:
names = loaded_team_df['name']
hobbies = loaded_team_df['Hobby']

In [ ]:
loaded_team_df.set_index('name',inplace=True)